.DS_Store
pm2.json

###IntelliJ###
*.ipr
*.iws
.idea
.env

###Node###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

npm-debug.log
node_modules/
bower_components/
build/
test/
opencv/

public/build
public/external

release/
dist/
test/
html/
apps/

.settings/
*.rej
